*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Chakra Petch", sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 9%;
    background: linear-gradient(245.59deg, #1b3b70 0%, #192458 28.53%, #00112f 75.52%);;
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: white;
}



/* ---------------------Buttons----------------------------*/

.container{
    position: relative;
    width: 100%;
    max-width: 1350px;
    padding: 20px;
    margin: 50px auto;
}

.filter_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
button {
    color: aliceblue;
    padding: 10px;
    font-size: 13px;
    border-radius: 21px;
    background: rgb(18, 67, 112);
    border: #00112f;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.05);
}

button:active{
    background: #f99727;
    color: white;
}

.filterable_cards {
    display: flex;
    margin-top: 13px;
    margin: 13%;
    gap: 34px;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    max-height:600px;
    flex-basis: 450px;
    background-color: #1b3c7063;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.05);
}

.card.hide{
    display: none;
}


.card body {
    padding: 5px 8px 13px;
}
.card_title {
    font-size: 30px;
    font-weight: 890PX;
    color: #00112f;  
}

.card_text {
    font-size: 18px;
    font-weight: 500px; 
    color: #00112f;  
}

#jupiter {
    margin-top: -69px;
}

#venus {
    margin-top: -34px;
}

#uranus {
    margin-top: 55px;
}

#mercure {
    margin-top: 121px;
}


.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #1b3b70 0%, #192458 28.53%, #00112f 75.52%);
    position: relative;
    display: flex;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    gap: 2rem;
}


.card_title{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 40px;
}

.card_text{
    color: white;
    font-size: 15px;
    line-height: 1.9;
    margin-bottom: 1px;
}

.nasa-container{
    color: white;
}

.hero-text a{
    display: inline-block;
    color: white;
    background: #192458;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}

.hero-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(5.55px);
}

.hero-text a.ctaa{
    background: transparent;
    border: 1px solid white;
    margin-left: 20px;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-left: 5px;
}

/*screen/////-----------------------------------------//////*/

@media(max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }

    .scroll-down{
        right: 3%;
        transition: .2s
    }
}

@media(max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media(max-width: 1340px){
    .hero-img img{
        width: 44%;
        height: auto;
    }
    .hero-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
    .hero-text h5{
        margin-bottom: 25px;
    }
}
@media(max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .hero-text{
        padding-top: 115px;
    }
    .hero-img img{
        width: 334px;
        height: auto;
    }
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}
@media(max-width: 990px){
    #menu-icone{
        display: block;
    }
    .navalist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #1b3b70;
        display: flex;
        align-items: column;
        padding: 50px 20px;
        transition: all .55s ease;
    }
    .navalist a{
        margin-left: 0;
        display: block;
        margin: 7px 0;
    }
    .navalist.open{
        right: 0;
    }
}
/*-------------------Search bar-------------------*/
.searchbar{
    width: 100%;
    padding: 2%;
    align-items: center;
    display: flex;
}

.search-Bar{
    width: 100%;
    max-width: 500px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 3px 13px;
    backdrop-filter: blur(4px) saturate(160%);
}
.search-Bar input{
    background: transparent;
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 13px;
    font-size: 18px;
    color: #cac7ff;
    border-radius: 60px;
}
.search-Bar img{
    width: 34px;
}

::placeholder{
    color: aliceblue;
}
.search-Bar button{
    border: 0;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: #58629b;
    cursor: pointer;
}


/* FOOTER */

footer {
    background-color: #0f345d;
    color: #fff;
    padding: 13px;
    text-align: center;
    position: fixed; 
    bottom: 0;
    width: 100%;
}
